* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #101010, #103020) fixed center
    center/cover;
}

header {
  background: #006040;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

header h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

header h2 {
  font-weight: 200;
  letter-spacing: 3px;
}

.posts {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.post {
  background: #f2f2f2;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 5px 5px #101010;
}

.post h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.post p {
  font-size: 20px;
  margin-bottom: 10px;
}
